<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/shop/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/static/shop/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/shop/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--paypal lib -->
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <!--strip lib-->
  <script src="https://checkout.stripe.com/checkout.js"></script>

</head>
<body>
  
  <button onclick="topFunction()" id="myBtn" title="Go to top" width="35px" height="35px" align="right">⇑</button>
  
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-main">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" style="padding-left: 12vw; font-size: 30px;">@mkshop</a>
        <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 33vw;" >
          <ul class="navbar-nav nav-ul">
              <li class="nav-item" >
                <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
              </li> 
            <li class="nav-item">
                <a class="nav-link" href="#cartmain" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart" style="font-size:36px"></i> <span class="badge" style="font-size: 14px;
    background: #696969;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
          </ul>
        </div>
    </nav>
  <div class="container-fluid" id="maincontainer">
    <div align="center" id="row1" class="row">
      <div class="col-md-4" style="padding-bottom: 15px;">
        <img src="/static/images/pixel.jpg" height="200vh" width="150vw">
        <div id="pro-info">
          <p> Google Pixel | Price : 45</p>
          <button class="btn btn-primary" id="btn1">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/i7.jpg" height="200vh" width="120vw">
        <div id="pro-info">
          <p> Iphone 7 | Price : 60</p>
          <button class="btn btn-primary" id="btn2">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/mac.jpg" height="200vh" width="200vw">
        <div id="pro-info">
          <p> MacBook Pro | Price : 130</p>
          <button class="btn btn-primary" id="btn3">Add to Cart</button>
        </div>
      </div>
      </div>
      <div align="center" id="row1" class="row">
      <div class="col-md-4">
        <img src="/static/images/sony.jpg" height="200vh" width="110vw">
        <div id="pro-info">
          <p> Sony Headphones | Price : 12</p>
          <button class="btn btn-primary" id="btn4">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/play.jpg" height="200vh" width="150vw">
        <div id="pro-info">
          <p> PlayStation 4 | Price : 60</p>
          <button class="btn btn-primary" id="btn5">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/microsoft.jpg" height="200vh" width="250vw">
        <div id="pro-info">
          <p>MicroSoft Surface | Price : 55</p>
          <button class="btn btn-primary" id="btn6">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Shopping Cart</h4>
      </div>
      <div class="modal-body" style="padding: 5px;">
                      <div id="cartmain" class="container-fluid">
                      <div class="row" id="table-row" style="padding-top:0px">
                        <table class="table table-striped" id="item-table">
                          <thead>
                            <tr>
                              <th>Item Id</th>
                              <th>Product Name</th>
                              <th>Price Name</th>
                              <th>Quantity</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody id="item-table-body">

                          </tbody>
                        </table>

                      </div>
                        <div class="row" align="center">
                          <div class="col-md-12">
                            <div>Grand Total : <label id="totalLabel">0</label><label>£</label>
                             </div>
                             <div class="col-md-6">
                            <p id="msg" class="hidden error" style="color:crimson;font-size: 9px">Please check the checkbox</p>

                            <p>
                                <label><input id="check" type="checkbox"> Check here to continue</label>
                            </p>

                            <div id="paypal-button-container"></div>
                            </div>
                            <div class="col-md-6">
                                 &nbsp;
                            <button id="customButton" class="btn btn-primary">Stripe Checkout</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                  </div>
      </div>
   
    </div>

  </div>
</div>





<div id="about" class="container-fluid">  <!-- This div should contain Information about your company -->
  <div class="row" id="about-row">
    <div class="col-md-12" align="center">
    Copyright | Shop-Online
    </div>
  </div>
</div>


<script>
/* paypal */
    function isValid() {
        return document.querySelector('#check').checked;
    }

    function onChangeCheckbox(handler) {
        document.querySelector('#check').addEventListener('change', handler);
    }

    function toggleValidationMessage() {
        document.querySelector('#msg').style.display = (isValid() ? 'none' : 'block');
    }

    function toggleButton(actions) {
        return isValid() ? actions.enable() : actions.disable();
    }

    // Render the PayPal button

    paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'AaSp8eXOVxdKgIuZevbNMx5VaBovlZYpGkhDpx6yRMEQSPpFrNqfpiyWUbGm-VsMLdjdNGQV7tdLd_Qg',
            production: '<insert production client id>'
        },

        validate: function(actions) {
            toggleButton(actions);

            onChangeCheckbox(function() {
                toggleButton(actions);
            });
        },

        onClick: function() {
            toggleValidationMessage();
        },

        // Wait for the PayPal button to be clicked

        payment: function(data, actions) {
              
            // Make a client-side call to the REST api to create the payment
                var products=JSON.parse(localStorage.getItem('purchases',JSON.stringify(products)));
                var y=[];
                var z=0;
                for(var j=0;j<products.length;j++)
                {        
                   var x={};
                   (function(c) {
                            //console.log(c);
                            x['name']=products[j].name;
                            x['sku']="item"+products[j].id;
                            x['price']= products[j].price;
                            x['currency']="GBP";
                            x['quantity']= products[j].qty;
                            z=z+(products[j].price *products[j].qty);
                             y.push(x);
                    })(j);
                   
                }

                if(y)
                {
                      localStorage.setItem('total',z);
                      // console.log('final list');
                      // console.log(y);
                      // console.log(z);
                return actions.payment.create({
                          payment: {
                              transactions: [{
                                            "item_list": {
                                                "items": y
                                            },
                                            "amount": {
                                                "currency": "GBP",
                                                "total": z
                                            },
                                            "description": "Payment with @mkweb."
                                        }]
                          }
                      });
              }
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            // Execute the payment

            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
                localStorage.removeItem('purchases');
            });
        }

    }, '#paypal-button-container');
/*--paypal end --*/

  /* --stripe start--*/
  var handler = StripeCheckout.configure({
    key: 'pk_test_031SDkDPI2e64WhNF2uRXXUT',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use
      $.post("/dashboard/charge",{stripetoken: token.id,stripecharge:localStorage.getItem('total')}, function(data, status){
          alert("Data: " + data + "\nStatus: " + status);
      });
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Demo Site',
      description: '2 widgets',
      amount:z,
      currency:'GBP'
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
  /*--stripe end --*/
</script>
</script>
</body>
</html>