<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/shop/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/static/shop/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/shop/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
  <button onclick="topFunction()" id="myBtn" title="Go to top" width="35px" height="35px" align="right">⇑</button>
  
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-main">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" style="padding-left: 12vw; font-size: 30px;">@mkshop</a>
        <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 33vw;" >
          <ul class="navbar-nav nav-ul">
              <li class="nav-item" >
                <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
              </li> 
            <li class="nav-item">
                <a class="nav-link" href="#cartmain" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart" style="font-size:36px"></i> <span class="badge" style="font-size: 14px;
    background: #696969;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
          </ul>
        </div>
    </nav>
  <div class="container-fluid" id="maincontainer">
    <div align="center" id="row1" class="row">
      <div class="col-md-4" style="padding-bottom: 15px;">
        <img src="/static/images/pixel.jpg" height="200vh" width="150vw">
        <div id="pro-info">
          <p> Google Pixel | Price : 45</p>
          <button class="btn btn-primary" id="btn1">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/i7.jpg" height="200vh" width="120vw">
        <div id="pro-info">
          <p> Iphone 7 | Price : 60</p>
          <button class="btn btn-primary" id="btn2">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/mac.jpg" height="200vh" width="200vw">
        <div id="pro-info">
          <p> MacBook Pro | Price : 130</p>
          <button class="btn btn-primary" id="btn3">Add to Cart</button>
        </div>
      </div>
      </div>
      <div align="center" id="row1" class="row">
      <div class="col-md-4">
        <img src="/static/images/sony.jpg" height="200vh" width="110vw">
        <div id="pro-info">
          <p> Sony Headphones | Price : 12</p>
          <button class="btn btn-primary" id="btn4">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/play.jpg" height="200vh" width="150vw">
        <div id="pro-info">
          <p> PlayStation 4 | Price : 60</p>
          <button class="btn btn-primary" id="btn5">Add to Cart</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/images/microsoft.jpg" height="200vh" width="250vw">
        <div id="pro-info">
          <p>MicroSoft Surface | Price : 55</p>
          <button class="btn btn-primary" id="btn6">Add to Cart</button>
        </div>
      </div>
      </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Shopping Cart</h4>
      </div>
      <div class="modal-body" style="padding: 5px;">
                      <div id="cartmain" class="container-fluid">
                      <div class="row" id="table-row" style="padding-top:0px">
                        <table class="table table-striped" id="item-table">
                          <thead>
                            <tr>
                              <th>Item Id</th>
                              <th>Product Name</th>
                              <th>Price Name</th>
                              <th>Quantity</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody id="item-table-body">

                          </tbody>
                        </table>

                      </div>
                        <div class="row" align="center">
                          <div class="col-md-12">
                            <div>Grand Total : <label id="totalLabel">0</label><label>£</label>
                            <!--paypal buynow start-->
                             <form class="paypal" action="/dashboard/payment" method="post" >
                                  <p>
                                    <label><input id="check" type="checkbox" required> Check here to continue</label>
                                </p>

                                  <input type="hidden" name="cmd" value="_s-xclick">
                                  <input type="hidden" name="hosted_button_id" value="HEKQY26JUGKZJ">
                                  <button type="submit" style="border: 0px"><img border="0" src="/static/checkout.png"></button>
                                  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                              </form>  
                      
                            <!--paypal buynow end-->

                          </div>
                        </div>
                      </div>
                      <hr>
                  </div>
      </div>
   
    </div>

  </div>
</div>





<div id="about" class="container-fluid">  <!-- This div should contain Information about your company -->
  <div class="row" id="about-row">
    <div class="col-md-12" align="center">
    Copyright | Shop-Online
    </div>
  </div>
</div>
</body>
</html>